/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root Variable */
:root {
  /* color of elements */
  --color-btn: #219f95;
  --color-counter-container: #afcedd;
  --color-cards: #dfe7fa67;

  /* color of typography */
  --color-body: #1e1e1e;
  --color-counter-and-h3: #234894;
  --color-calendar-and-id: #696969;
  --color-white: #fff;

  /* radius */
  --radius-btn: 8px;
  --radius-counter: 6px;
  --radius-card: 12px;

  /* avatar */
  --avatar-size: 40px;
  --counter-size: 40px;
}

/* typograpgy */
html {
  font-size: 62.5%;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-body);
}
body {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  body {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  body {
    font-size: 2.3rem;
    font-weight: 600;
  }
}
/* container */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* requests */
.requests {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.requests__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.requests__card {
  width: 450px;
  height: auto;
  border-radius: var(--radius-counter);
  padding: 2.5rem 1.5rem;
  margin: 0 auto;
  background-color: var(--color-cards);
}
.requests__title {
  grid-column: 1/-1;
}
.requests__card-documentation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.requests__card-documentation-counter {
  display: flex;
}
.requests__card-documentation-counter span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-counter-and-h3);
  background-color: var(--color-counter-container);
  width: var(--counter-size);
  border-radius: var(--radius-counter);
  margin-left: 1rem;
}
.requests__card-documentation-counter h3 {
  color: var(--color-counter-and-h3);
}
.requests__card-documentation div {
  color: var(--color-calendar-and-id);
}
.requests__card-id p {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}
.requests__card-id div {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-calendar-and-id);
}
.requests__card-details {
  display: flex;
  justify-content: space-between;
}
.requests__card-details-person {
  display: flex;
  margin-top: 2rem;
}
.requests__card-details-person p {
  margin-top: 1rem;
}
.requests__card-details-person img {
  width: var(--avatar-size);
  margin-left: 1rem;
  object-fit: contain;
  border-radius: var(--radius-btn);
}
.requests__card-details button {
  outline: 0;
  border: 0;
  background-color: var(--color-btn);
  color: var(--color-white);
  padding: 2rem 3rem;
  border-radius: var(--radius-btn);
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .requests__cards {
    grid-template-columns: 1fr 1fr;
  }
  .requests__card-id p {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .requests__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .requests__card-id p {
    font-size: 2.2rem;
    font-weight: 900;
  }
}
